

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.difficulty {
.rating {
  border: none;
  float: left;
  > {
    input {
      display: none;
    }
    label:before {
      margin: 6px;
      font-size: 3em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f0eb";
    }
    label {



      color: #d6dbdf;
      float: right;
    }
    input:checked ~ label {
      color: #34495e;
    }
  }
  &:not(:checked) > label:hover {
    color: #34495e;
    ~ label {
      color: #34495e;
    }
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        color: #34495e;
      }
    }
    label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label {
      color: #34495e;
    }
  }
}
}
